<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Lupin Restaurant Apps. Discover diverse restaurants offering delicious menus. Explore ratings and complete information about the best restaurants in your city." />
  <link rel="shortcut icon" href="./favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Lupin</title>
</head>

<body>
  <skip-link></skip-link>
  <header-section></header-section>
  <main id="mainContent" tabindex="0"></main>
  <footer-section></footer-section>
</body>

</html>