@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: $black;
	color: $white;
}

main, .appBar {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

button,
a {
	min-width: 44px;
	min-height: 44px;
}

ul li {
	list-style-type: none;
}

/*
  skip link
*/

.skip-link {
	position: absolute;
	top: -100px;
	left: 0;
	background-color: $black;
	color: $white;
	padding: 10px 20px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
}

/*
  header
*/

.appBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 60px;
}

.brand {
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu {
	display: flex;
	gap: 30px;
}

.menu li {
	list-style-type: none;
}

.menu li a {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
  theme mode
*/

.theme-toggle {
	font-size: 1.5rem;
	background-color: transparent;
	border: none;
	color: $yellow;
}

.hide {
	display: none;
}

.light-mode {
	color: $black;
  background-color: $white;
}

.light-mode .heroSection{
	color: $white;
}

.light-mode .open {
	background-color: $white;
}

.light-mode .restaurant-detail__reviews .date {
	color: $grey-transparent;
}

/*
  hero section
*/

.heroSection {
	background-image: url('/src/public/images/hero-image.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	max-width: calc(100% - 40px);
	margin: 0 auto;
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 10px;
}

.heroSection::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $black-transparent;
	border-radius: 10px;
	z-index: 1;
}

.heroSection h1 {
	font-size: 4rem;
	margin-bottom: 20px;
}

.heroSection p {
	font-size: 2rem;
	margin-bottom: 20px;
}

.heroSection h1,
.heroSection p {
	z-index: 2;
}

/*
  restaurant list
*/

.restaurantList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin: 50px 0;
	padding: 0 20px;
}

/*
  restaurant item
*/

.restaurant-item {
  max-width: 100%;
	box-shadow: 0 0 10px $grey-transparent;
	position: relative;
}

.restaurant-item__image {
  width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	filter: brightness(60%);
}

.restaurant-item__content {
  padding: 20px;
  line-height: 1.5;
}

.restaurant-item__name {
  font-size: 1.2rem;
  font-weight: bold;
}

.restaurant-item__description {
  height: 100px;
  overflow: hidden;
}

.restaurant-item__city {
  position: absolute;
	top: 10px;
	left: 10px;
	background-color: $red;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
}

.restaurant-item__rating {
  margin-bottom: 10px;
  font-size: 1rem;
}

.restaurant-item__rating i,
.restaurant-detail__rating i {
  color:$yellow;
  margin-right: 5px;
}

.restaurant-item__rating i,
.restaurant-item__city i {
	margin-right: 5px;
}

/*
	restaurant details
*/

.restaurantDetail {
  display: grid;
	grid-template-columns: 2fr 1fr;
	margin: 20px;
	gap: 20px;
}

.restaurant-detail__restaurant {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.restaurant-detail__image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	border-radius: 10px;
}

.restaurant-detail__info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.restaurant-detail__important {
	display: flex;
	background-color: $grey-transparent;
	padding: 15px;
	margin: 10px 0;
	text-align: center;
	width: 100%;
}

.restaurant-detail__rating,
.restaurant-detail__location,
.restaurant-detail__categories {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	align-items: center;
	padding: 0 20px;
	border-right: $white-transparent solid 1px;
	font-weight: bold;
}

.restaurant-detail__rating {
	padding-left: 0;
}

.restaurant-detail__location i {
	color: $red;
	margin-right: 5px;
}

.restaurant-detail__categories i {
	color: $green;
	margin-right: 5px;
}

table, td {
	border: $white solid 1px;
	border-collapse: collapse;
	padding: 5px;
}

.restaurant-detail__foods .foods,
.restaurant-detail__drinks .drinks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	margin: 10px 0;;
}

.restaurant-detail__foods .foods p,
.restaurant-detail__drinks .drinks p {
	background-color: $grey-transparent;
	padding: 5px 10px;
}

/*
	restaurant reviews
*/

.review-card {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.restaurant-detail__reviews h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.restaurant-detail__reviews .review-item {
  background-color: $grey-transparent;
  padding: 15px;
  border-radius: 10px;
	display: flex;
	gap: 20px;
}

.restaurant-detail__reviews .review-item p {
  font-size: 12px;
  margin: 5px 0;
}

.restaurant-detail__reviews .review-item .photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.restaurant-detail__reviews .review-item .name {
  font-weight: bold;
}

.restaurant-detail__reviews .review-item p span {
  color: $white-transparent;
  font-size: .7rem;
}


/*
  read more toggle
*/

.read-more {
	background-color: $green;
	color: $white;
	font-family: 'Raleway', sans-serif;
	padding: 10px 20px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: .2s;
}

.read-more.active {
	background-color: transparent;
	color: $green;
	border: $green solid 2.5px;
}

.read-more::after {
	content: 'Read More >>';
}

.read-more.active::after {
	content: '<< Show Less';
}

.read-more:hover {
	background-color: $green;
}

.read-more.active:hover {
	background-color: transparent;
}

.show-description {
	height: auto;
}

/*
  contact section
*/

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin: 20px;
}

.contact h2 {
	margin-bottom: 20px;
}

.contact p {
	margin-bottom: 20px;
}

.contact a {
	color: #ff6b6b;
}

/*
	footer
*/

.copyright {
	text-align: center;
	padding: 20px;
	height: 100px;
	line-height: 50px;
}