@import 'variables.scss';

@media screen and (max-width: 912px) {
	.restaurant-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.hero-section h1 {
		font-size: 3rem;
	}

	.hero-section p {
		font-size: 1.5rem;
	}

	.restaurant-list {
		grid-template-columns: 1fr;
	}

	.restaurant-detail {
		grid-template-columns: 1fr;
	}

	.restaurant-detail__important {
		font-size: .8rem;
		width: 100%;
	}

	.review-card {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.review-form button {
		width: 150px;
	}
}

@media screen and (max-width: 576px) {
	.hero-section {
		background-image: url('/src/public/images/hero/hero-image-small.jpg');
	}

	.menu {
		display: none;
	}

	.menu-toggle {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.menu-toggle span {
		display: block;
		width: 30px;
		height: 2px;
		font-size: 1.5rem;
		background-color: $white;
		border-radius: 10px;
		transition: .2s;
	}

	.light-mode .menu-toggle span {
		background-color: $black;
	}

	.menu-toggle.active span:nth-child(1) {
		transform: translateY(4px) rotate(45deg);
	}

	.menu-toggle.active span:nth-child(2) {
		display: none;
	}

	.menu-toggle.active span:nth-child(3) {
		transform: translateY(-4px) rotate(-45deg);
	}

	.brand {
		order: 2;
	}

	#drawer {
		order: 1;
	}

	theme-toggle {
		order: 3;
	}

	.open {
		display: flex;
		flex-direction: column;
		gap: 10px;
		position: absolute;
		width: 100%;
		top: 60px;
		right: 0;
		background-color: $black;
		padding: 20px;
		box-shadow: 1px 1px 10px $grey-transparent;
		border-radius: 0 0 10px 10px;
		opacity: .95;
		z-index: 100;
	}

	.light-mode .show-menu {
		background-color: $white;
	}

	.hero-section {
		align-items: flex-start;
		padding: 20px;
		height: 45vh;
	}

	.hero-section h1 {
		font-size: 2rem;
	}

	.hero-section p {
		font-size: 1rem;
	}

	.restaurant-list {
		grid-template-columns: 1fr;
	}

	.restaurant-item__image {
		height: 150px;
	}

	.restaurant-detail__important {
		font-size: .7rem;
	}

	.review-card {
		flex-direction: column;
	}

	.review-form button {
		width: 100%;
	}

	.favorite-heading {
		font-size: 1.2rem;
	}
}